@layer payload-default {
  .psi-node-cell {
    &__label {
      display: block;
    }

    &__snippet {
      display: block;
      font-size: calc(var(--base) * 0.6);
      margin-top: calc(var(--base) / 2);
    }
    
    &__selector {
      display: block;
      margin-top: calc(var(--base) / 2);
    }
  }
}
